.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 100vh;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(#ff6e7f, #bfe9ff);
  padding: 60px;
  padding-bottom: 70px;
  border-radius: 15px;
}

.heading {
  font-size: 30px;
  color: black;
  font-weight: bold;
  padding: 10px;
}

.description {
  color: #334155;
  font-size: 20px;
}

.description-2 {
  color: #334155;
  font-size: 10px;
}

.button {
  background-color: white;
  padding: 10px;
  font-size: 12px;
  border-radius: 7px;
  width: 100px;
}
